body{
    background-color: black;
    color: white;
}

div.notification{
    background-color: aquamarine;
    border-radius: 15px;
    color : green;
    padding: 25px;
    width : 80%;
    margin: 10px auto 15px auto;
}

article{
    width : 60%;
    margin : 10px auto 20px auto;
    padding : 15px;
    border-radius: 15px;
    background-color: slategray;
    color : ivory;
}